<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" href="gs/css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="gs/css/style.css"/>
		<title>Game Studio</title>
	</head>

	<body onload="startTime()">
	

	
<!--<div class="container-fluid">-->
<div class="container">
<div class="row logo ram ">
<div class="col">
<!--<h1>Game Studio</h1>-->
				
</div>



</div>	
		
		
<div class="row menubar ram">
	
		
	
	<ul class="unlist">
	<li class="list list:last-child list a list a:hover active"><a href="/" class="active">Home</a></li>
	<li class="list list:last-child list a list a:hover"><a href="games.html" >Games</a></li>
	<li class="list list:last-child list a list a:hover"><a href="contact.html" >Contact</a></li>
<!-- 	 <li><div class="dropdown"> -->
<!-- 	<button class="dropbtn">Dropdown</button> -->
<!-- 	<div class="dropdown-content"> -->
<!-- 	<a href="#">Link 1</a> -->
<!-- 	<a href="#">Link 2</a> -->
<!-- 	<a href="#">Link 3</a> -->
<!-- 	 </div> -->
<!-- 	</div></li> -->
	
	
	<li class="list list:last-child list a list a:hover">	<!--<p class="watch">Current Time:</p>--><p class="watch" id="txt">cc</p></li>
	<li class="list list:last-child list a list a:hover"> <span th:if='${@userController.logged}'> <p class="watch" th:text="'Logged as:' + ' ' + ${@userController.LoggedPlayer?.Login}" /></span></li>
	<li class="list list:last-child list a list a:hover" style="float:right"> 
	<span th:if='${not @userController.logged}'>
	<a class="active" href="#login" id="myBtn">Login</a>
	</span>
	<span th:if='${@userController.logged}'>
	<a href= "/logout" id="myBtn" class="active">Logout</a>
</span>
<!-- 	 <button id="myBtn">Login</button> -->
					
					
					
						
	<!-- The Modal -->
	<div id="myModal" class="modal">

	 <!-- Modal content -->
	    <div class="modal-content">
		   <span class="close" align="right">&times;</span>
		<br/>
		<form action="/login" method="post">
		Login: 
		<input type="text" name="login" th:value="${@userController.LoggedPlayer?.Login}"/>
		Passowrd: 
		<input type="password" name="password"/>
	
		<input type="submit" value="Login" />
		</form>
		
	</div>

							</div>
						
						
						</li>
				</ul>
				<!--	<p>Menu Bar</p>-->
				
				<script src="gs/js/modal.js"></script>
				<script src="gs/js/time.js"></script>
			</div>
	

<div class="row pagebody ram" >
	<div class="col">
	<div id="txt"></div>

<p>Register Form</p><hr/>
	<form action="/register_sub" method="post">
	<div class="block">
	<label>Login Name:</label> <br/><input class="inpu" type="text" name="Login" required="required" placeholder="Login"/><br/>
	</div>
	<div class="block">
	<label>Password: </label><br/><input class="inpu" type="password" name="password" required="required" placeholder="Password"/><br/>
	</div>
	<div class="block">
	<label>Retype Password:</label><br/> <input class="inpu" type="password" name="password_check"  placeholder="Password" required="required"/><br/>
	</div>
	<div class="block">
	<label>Email:</label> <br/><input type="email" name="email"/><br/><br/>
	</div>
	<input type="checkbox" name="checkbox" value="checkbox"/> I Agree with rules!<br/><br/>
	<input type="submit" value="Register"/>
	</form>
	<p>Red Marked Fields are Mandatory!</p>
<span th:if='${not @userController.logged}'>
<p th:text="${@userController.errormsg }" /><p th:text="${@userController.chkbx}" />
</span>

</div>


</div>
</div>
	

</body>

</html>
